body { 
    background-color: #f1f1f1;
}


span { 
    background-color: #f1f1f1;
}

.token {
	color: maroon ;
        text-decoration: none;
}  

.person {
	color: #4B2503 ;
        text-decoration: none;
}  

.definedterm {
	color: green ;
        text-decoration: none;
}  

span :hover { 
    background-color: #ffffff;
}

.xref {
	color: darkblue ;
}  


.jurisdiction {
	color: #5500AA ;
       
}

.missing {
	color: magenta ;
       
}