P
D
.DS_Store
.gitignore
.gitattributes

*.docx
*.pdf
# vendor

Doc/G/Open-Source-Law/forms/
Doc/G/Open-Source-Law/solidity/
Doc/G/nft-license/Markdown Format/
Doc/G/Open-Source-Law/Disclosure.md
Doc/G/Open-Source-Law/LICENSE
Doc/G/Open-Source-Law/README.md
Doc/G/nft-license/README.md

Doc/G/crypto-governance/delegation/
Doc/G/YCombinator-SAFE-2020/WiP/
Doc/G/LegalForms/LICENSE
Doc/G/LegalForms/README.md
Doc/G/crypto-governance/README.md
Doc/G/LegalForms/DAO-Contributor-Agmt/

Doc/G/responsible-data-use-policy/Diagrams/*
Doc/G/responsible-data-use-policy/Sample Artifacts/*

Doc/G/a16z-contracts/*
!Doc/G/a16z-contracts/README.md
!Doc/G/a16z-contracts/LICENSE

#Elaborate set of ignores and excepts to i) remove the old /PrOb/ files and add them back under the /licenses/pr0b/ folder. 
!Doc/G/a16z-contracts/PrOb/*
!Doc/G/a16z-contracts/licenses/
Doc/G/a16z-contracts/licenses/*
!Doc/G/a16z-contracts/licenses/pr0b/


