body { 
    background-color: #ffffff;
}

.paras {
padding: 10px 0px 0px 0px;
}

.paras li {
padding: 0px 0px 0px 0px;
}

span { 
    background-color: #ffffff;
}

span :hover { 
    background-color: #f0f0ff;
}

.sec-ti {
	color: #0F0F8F;
            font-weight: bold;

}  


.warning {
	color: #8F0000;
        text-transform : uppercase;
        font-weight: bold;

}

.token {
	color: maroon ;
        text-decoration: none;
}  

.person {
	color: #4B2503 ;
        text-decoration: none;
        font-style: italic;
}  

.definedterm {
	color: green ;
        text-decoration: none;
}  


.highlight {
	color: purple ;
        font-weight: bold;
}  

.xref {
	color: blue ;
        text-decoration: none;

}  


.jurisdiction {
	color: #5500AA ;
       
}

.missing {
	color: red ;
       
}