body { 
    background-color: #ffffff;
    font-size: 100%;
    font: arial, sans-serif;
}

.paras {
padding: 10px 0px 0px 0px;
}

.paras li {
padding: 0px 0px 0px 0px;
}

span :hover { 
    background-color: #f0f0ff;
}

.sec-ti {
	color: #0F0F8F;
            font-weight: bold;
}

.token {
	color: maroon ;
        text-decoration: none;
}  

.person {
	color: #4B2503 ;
        text-decoration: none;
        font-style: italic;
}  

.definedterm {
	color: green ;
        text-decoration: none;
}  

.secs-and {
	color: olive ;
	outline: 2px dotted olive;
        background-color: #aaf0ff;
	margin: 10px 10px 10px 10px;

.dealpoint {
	color: #008800;
        text-transform : underline;
        font-weight: bold;
}

.secs-and li{
  margin: 20px 0px;
}

.secs-or {
	color: teal ;
	outline: 2px dashed teal;
        background-color: #f0f0aa;
	margin: 10px 10px 10px 10px;

}

.secs-or li{
  margin: 20px 0px;
}

.xref {
	color: blue ;
        text-decoration: none;

}  


.jurisdiction {
	color: #5500AA ;
       
}

.missing {
	color: red ;
       
}

.warning {
	color: #8F0000;
        text-transform : uppercase;
        font-weight: bold;
